.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.auth-card {
  background: #fff;
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: grid;
  justify-content: space-evenly;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.btn {
  width: 110%;
  padding: 12px;
  background: #0a1a2f;
  color: white;
  border: none;
  margin-bottom: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.switch-text {
  margin-top: 15px;
  text-align: center;
}

.link {
  color: blue;
  cursor: pointer;
}
